MVC_Presentacion/Connected Services/ServicioImportacionesRef/ServicioImportacion.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:51609/ServicioImportacion.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCF_Importacion" />
  <xs:element name="ImportarSolicitantes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ImportarSolicitantesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCF_Importacion" minOccurs="0" name="ImportarSolicitantesResult" nillable="true" type="q1:ArrayOfDtoSolicitante" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImportarProyectos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ImportarProyectosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WCF_Importacion" minOccurs="0" name="ImportarProyectosResult" nillable="true" type="q2:ArrayOfDtoProyecto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>