MVC_Presentacion/Connected Services/ServicioImportacionesRef/ServicioImportacion2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCF_Importacion" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCF_Importacion" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfDtoSolicitante">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DtoSolicitante" nillable="true" type="tns:DtoSolicitante" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDtoSolicitante" nillable="true" type="tns:ArrayOfDtoSolicitante" />
  <xs:complexType name="DtoSolicitante">
    <xs:sequence>
      <xs:element minOccurs="0" name="Apellido" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Cell" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaDeNacimiento" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DtoSolicitante" nillable="true" type="tns:DtoSolicitante" />
  <xs:complexType name="ArrayOfDtoProyecto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DtoProyecto" nillable="true" type="tns:DtoProyecto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDtoProyecto" nillable="true" type="tns:ArrayOfDtoProyecto" />
  <xs:complexType name="DtoProyecto">
    <xs:sequence>
      <xs:element minOccurs="0" name="CantidadDeIntegrantes" type="xs:int" />
      <xs:element minOccurs="0" name="Cuotas" type="xs:int" />
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Estado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExperienciaPersonal" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaDePresentacion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IdSolicitante" type="xs:int" />
      <xs:element minOccurs="0" name="ImgURL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MontoConseguido" type="xs:decimal" />
      <xs:element minOccurs="0" name="MontoSolicitado" type="xs:decimal" />
      <xs:element minOccurs="0" name="PorcentajeDeInteres" type="xs:decimal" />
      <xs:element minOccurs="0" name="PrecioPorCuota" type="xs:decimal" />
      <xs:element minOccurs="0" name="TipoDeEquipo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Titulo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DtoProyecto" nillable="true" type="tns:DtoProyecto" />
</xs:schema>